/*-------------------------------------------------------------------------*/
/* main layout */
/*-------------------------------------------------------------------------*/
.component-page {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  row-gap: 36px;
  background-color: var(--grey-10);
}

.component-page__header {
  padding: 28px 0 0;
  background-color: transparent;
}

.component-page__container {
  height: 100%;
}

.component-page__content {
  display: flex;
  justify-self: stretch;
  align-self: stretch;
  height: 100%;
}

.component-page__nav {
  flex-basis: 230px;
  margin-right: 56px;
  z-index: 200;
}

.component-page__component-container {
  flex: 1;
  height: 100%;
  padding: 2rem 3rem;

  --opacity: .05;
  --grey-neutral-dark: rgba(var(--grey-neutral-dark-r),
      var(--grey-neutral-dark-g),
      var(--grey-neutral-dark-b),
      var(--opacity));

  border-radius: var(--border-radius-small);
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 var(--grey-neutral-dark);
}

.component-page__footer {
  padding: 3.25rem 0 2rem 0;

  background-color: transparent;

  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  color: var(--grey-3)
}
/*-------------------------------------------------------------------------*/
/* END main layout */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* header area */
/*-------------------------------------------------------------------------*/
.component-page__header-controls {
  display: flex;
  justify-content: space-between;
}

.component-page__burger {
  display: none;
}

.component-page__logo {

}
/*-------------------------------------------------------------------------*/
/* END header area */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* navigation */
/*-------------------------------------------------------------------------*/
.component-page__nav-title {
  margin-bottom: 1rem;

  font-size: 1.25rem;
  line-height: 1.625rem;
}

.component-page__nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.component-page__nav-links li {
  margin-bottom: 0.25rem;
}

.component-page__nav-links li:last-child {
  margin-top: 1.625rem;
}

.component-page__nav-link {
  font-size: .875rem;
  line-height: 1.375rem;

  text-decoration: none;
  color: var(--black);
}

.component-page__nav-link.active {
  color: var(--red);
}

.component-page__nav-link:not(.active):hover {
  text-decoration: underline;
}
/*-------------------------------------------------------------------------*/
/* END navigation */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* component */
/*-------------------------------------------------------------------------*/
.component-page__title {
  margin-bottom: 1.5rem;

  font-size: 1.75rem;
  line-height: 2.375rem;
  color: var(--grey-4);
}
/*-------------------------------------------------------------------------*/
/* END component */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* mobile versions  */
/*-------------------------------------------------------------------------*/

.component-page__nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 428px;
  margin: 0;
  padding: 1rem;
  background-color: var(--red);
}

.component-page__nav-mobile_open {
  display: block;
}

.component-page__nav-mobile_closed {
  display: none;
}

.component-page__overlay {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  background-color: var(--grey-4);
  opacity: .3;
}

/*-------------------------------------------------------------------------*/
/* max-width: 1200px */
/*-------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .component-page {
    padding: 0 16px;
  }
}
/*-------------------------------------------------------------------------*/
/* END max-width: 1200px */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* max-width: 768px */
/*-------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /* .component-page {
    display: block;
  } */

  .component-page {
    grid-template-rows: auto 1fr auto;
    grid-gap: 0;
  }

  .component-page__content {
    display: block;
  }

  .component-page__nav {
    display: none;
  }

  .component-page__header-controls {
    flex-direction: column;
  }

  .component-page__logo {
    display: block;
    margin: 0 auto;
  }

  .component-page__burger {
    display: inline-block;
    position: absolute;
  }

  .component-page__theme-toggler {
    margin: 1rem 0;
    padding: 28px 0 24px;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
  }

/* ----------------------- HIER */
  .component-page__overlay {
    /* display: block; */
  }

  .component-page__header {
    background-color: var(--grey-10);
  }
  .component-page__footer {

  }
}
/*-------------------------------------------------------------------------*/
/* END max-width: 768px */
/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/* max-width: 375px */
@media screen and (max-width: 375px) {

}
/*-------------------------------------------------------------------------*/
/* END max-width: 375px */
/*-------------------------------------------------------------------------*/