<!DOCTYPE html>
<!-- Page with Card -->
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./card.css">
        <title>Card</title>
        <style>
          html, 
          body {
            height: 100%;
          }

          body {
              margin: 0 auto;
              background-color: var(--grey-2);
              display: flex;
              justify-content: center;
              align-items: center;
          }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card__component-preview">
                Dummy
            </div>
            <div class="card__title">
                Histogram Histogram Histogram Histogram Histogram Histogram Histogram Histogram 
            </div>
        </div>
    </body>
</html>
