*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--black);
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125em;
  line-height: 1.28;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.375em;
  line-height: 3;
}

