:root {
  --white: #ffffff;
  --black: #212429;
  --blue: #4263EB;
  --blue-dark: #2342C0;
  --purple: #7048E8;
  --purple-dark: #5028C6;
  --pink: #F784AD;
  --red: #F03D3E;

  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-additional: var(--blue-dark);

  --secondary: var(--purple);
  --secondary-additional: var(--purple-dark);

  --alternate: var(--grey-3);
  --alternate-additional: var(--black);

  --border-radius: 8px;

  --transition-duration-normal: .3s;
  --transition-function-normal: ease-in-out;
}

