:root {
  --white: #ffffff;
  --black: #212429;
  --blue: #4263EB;

  --blue-dark-r: 35;
  --blue-dark-g: 66;
  --blue-dark-b: 192;
  --blue-dark: rgba(
      var(--blue-dark-r), 
      var(--blue-dark-g), 
      var(--blue-dark-b),
      var(--opacity)
    );

  --blue-light-r: 160;
  --blue-light-g: 177;
  --blue-light-b: 245;
  --blue-light: rgba(
      var(--blue-light-r), 
      var(--blue-light-g), 
      var(--blue-light-b),
      var(--opacity)
    );

    --grey-neutral-dark-r: 33;
    --grey-neutral-dark-g: 36;
    --grey-neutral-dark-b: 41;
    --grey-neutral-dark: rgba(
      var(--grey-neutral-dark-r),
      var(--grey-neutral-dark-g),
      var(--grey-neutral-dark-b),
      var(--opacity)
    );

  --purple: #7048E8;
  --purple-dark: #5028C6;
  --pink: #F784AD;
  --red: #F03D3E;

  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;
  --grey-5: #E2E6E8;
  --grey-6: #F3F5F5;
  --grey-7: #E3E7EA;
  --grey-8: #334D6E;
  --grey-9: #90A0B7;

  --opacity: 1;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-additional: var(--blue-dark);

  --secondary: var(--purple);
  --secondary-additional: var(--purple-dark);

  --alternate: var(--grey-3);
  --alternate-additional: var(--black);

  --border-radius: 8px;

  --transition-duration-normal: .3s;
  --transition-function-normal: ease-in-out;
}