<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="navtabs_var2.css">
  <title>Navtabs-test</title>
  <style>
    body {
      padding: 100px;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="navtabs">
      <nav class="navtabs__nav">
        <a href="#allitems" class="navtabs__link navtabs__link_active" onclick="activateNavItem(this)">All items</a>
        <a href="#content1" class="navtabs__link" onclick="activateNavItem(this)">item 1</a>
        <a href="#content2" class="navtabs__link" onclick="activateNavItem(this)">item 2</a>
      </nav>

      <div class="navtabs__allitems" id="allitems">
        <div class="navtabs__content" id="content1">
          Content 1 Content 1 Content 1 Content 1 Content 1 Content 1 Content 1 Content 1 Content 1 Content 1 Content 1
          Content 1 Content 1
        </div>

        <div class="navtabs__content" id="content2">
          Content 2 Content 2 Content 2 Content 2 Content 2 Content 2 Content 2 Content 2 Content 2 Content 2 Content 2
          Content 2 Content 2 Content 2 Content 2 Content 2 Content 2
        </div>
      </div>

    </div>
  </div>

</body>
<script>
    function activateNavItem(e) {
      document
      .querySelectorAll('.navtabs__link_active')
      .forEach( item => { item.classList.remove('navtabs__link_active'); }); 
      e.classList.add('navtabs__link_active');
    };  
</script>

</html>