.skeleton {
  padding: 24px 40px 32px 24px;
  border: 1px solid var(--grey-3);
  border-radius: var(--border-radius);
}

/* skeleton-header */
.skeleton__header {
  display: flex;
}

.skeleton__logo {
  flex: 0 0 64px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.skeleton__title {
  flex: 1 1 auto;
  padding: 8px 0 8px 16px;
}
/* END skeleton-header */

/*  Rows in skeleton */
.skeleton__line {
  height: 20px;
  margin-bottom: 8px;
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__line--small {
  width: 33%;
}

.skeleton__line--middle {
  width: 60%;
}
/*  END Rows in skeleton */