.checkbox {
  --border-radius: 4px;
}

/* .checkbox__input {
  position: absolute;
  clip: rect (0, 0, 0, 0);
  opacity: 0;
  outline: none;
}*/

.checkbox__state {
  display: inline-flex;
}

.checkbox__control {
  display: inline-flex;
  width: 28px;
  height: 28px;
  margin-right: .75rem;
  border-radius: var(--border-radius);
}

.checkbox__control:not(:checked) {
  border: 1px solid var(--grey-2);
  background-color: var(--white);
}

.checkbox__label {
  font-weight: 400;
  font-size: 1rem;
  color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  border: none;
  background-color: var(--primary);
  background-image: url(../../assets/images/icons/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.checkbox__input:not(:disabled) ~ .checkbox__state {
  cursor: pointer;
}

.checkbox__input:disabled ~ .checkbox__state {
  cursor: not-allowed;
}

.checkbox__input:not(:disabled):hover ~ .checkbox__state .checkbox__control {
  background-color: var(--primary-additional);
}

.checkbox__input:not(:disabled):hover ~ .checkbox__state .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  border: none;
  background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
  color: var(--grey-2);
}
