/* layout and formatting */
.navtabs__label {
  display: inline-block;
  color: var(--grey-3);
}

.navtabs__label:not(:last-child) {
  margin-right: 2.5rem;
}

.navtabs__label {
  cursor: pointer;
}

.navtabs__label:hover,
.navtabs__control:checked + .navtabs__label {
  color: var(--black);
  transition: .2s color ease;
}

.navtabs__allitems {
  padding-top: 72px;
  border-top: 1px solid var(--grey-3);
}
/* END layout and formatting */

/* hover and active state */
.navtabs__control:checked + .navtabs__label::after,
.navtabs__label::after {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 5px;
  margin-top: .5rem;
}

.navtabs__control:checked + .navtabs__label::after,
.navtabs__label:hover::after  {
  background-color: var(--black);
}

.navtabs__label::after {
  width: 0;
}

.navtabs__control:checked + .navtabs__label::after {
  width: 100%;
}

.navtabs__label:hover::after {
  width: 100%;
  transition: .2s width ease;
}
/* END hover and active state */

.navtabs__control {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* activating content */
.navtabs__content {
  display: none;
}

#all_items:checked ~ [data-content="all_items"] [data-content="content1"],
#all_items:checked ~ [data-content="all_items"] [data-content="content2"] {
  display: block;
}

#item1:checked ~ [data-content="all_items"] [data-content="content1"] {
  display: block;
}

#item2:checked ~ [data-content="all_items"] [data-content="content2"] {
  display: block;
}
/* END activating content */