.navtabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--grey-2);
}

.navtabs__item {
  display: inline-block;
}

.navtabs__item:not(:last-child) {
  margin-right: 2.5rem;
}

.navtabs__item:hover,
.navtabs__label {
  cursor: pointer;
}

.navtabs__label {
  color: var(--grey-3);
}

.navtabs__label:hover,
.navtabs__label_active {
  color: var(--black);
}

.navtabs__item::after,
.navtabs__item_active::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  margin-top: .5rem;
  background-color: var(--black);
}

.navtabs__item_active::after {
  background-color: green;
}

.navtabs__link:hover::after {
  width: 100%;
  transition: 1s all ease;
}
