.component {
  flex: 1;
  padding: 2rem 3rem;

  --opacity: .05;
  --grey-neutral-dark: rgba(var(--grey-neutral-dark-r),
      var(--grey-neutral-dark-g),
      var(--grey-neutral-dark-b),
      var(--opacity));

  border-radius: var(--border-radius-small);
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 var(--grey-neutral-dark);
}

.component__title {
  margin-bottom: 1.5rem;

  font-size: 1.75rem;
  line-height: 2.375rem;
  color: var(--grey-4);
}