.themetoggler {
  display: flex;
  justify-items: top;
  align-items: top;
}

.themetoggler__label {
  display: none
}

.themetoggler__label,
.themetoggler__toggler,
.themetoggler__icon {
  margin-right: 13px;
}

.themetoggler__toggler {
  max-height: 28px;
}

.themetoggler__icon:last-child {
  margin-right: 0;
}

.theme-toggler__controls {
  display: flex;
}

.themetoggler__icon {
  display: inline-block;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .themetoggler__icon {
    display: none;
  }

  .themetoggler__label {
    display: inline-block;
  }

  .themetoggler__toggler {
    display: block; /* provisorisch */ 
  }
}

@media screen and (max-width: 420px) {
  .themetoggler {
    justify-content: space-between;
  }

  .themetoggler__toggler {
    margin-right: 0;  
  }
}
